/*@media only screen and (max-width: 600px){ 
  
    
}*/
body {
    margin: 0;
    padding: 0;
    background: /*#3F73A1*/#01020e;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
p, h1, h2, h3{
	padding: 0;
	margin: 0;
}
#header{
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0B7778; 
    border: 1px solid #0B7778;
    padding: 0 0 0 10px;
}

#header-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background:#ffffff ;
}

#company-name{
    font-size: 16px;
    font-weight: 200px;
    font-family: cursive;
    color: #ffffff; 
    margin-right: 600px;  
}
/****Nav-Section****/
nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: left; 
}

nav ul li{
    display: inline-block;
}

nav ul li:hover{
    background: #ffffff;
}

nav ul li a{
    display: block;
    padding: 12px;
    color: #ffffff;
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
    font-family: sans-serif;
    margin-left: 40px;
}

nav ul li a:hover {
   color: #333333;
}

/****Intro-Section****/   

.intro-section{
    width: 100%;
    text-align: center;
    padding: 150px 0 80px 0;
}

#logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ffffff;
}

.Head{
    font-size: 60px;
    margin-left: 20px;
    margin: 0;
    color: #ffffff;
    font-weight: 400;
    padding: 0;
    text-shadow: 2px 2px 3px #ffffff;
}

.text{
    font-weight: 200;
    font-size: 20px;
    margin-top: 0;
    padding: 0;
    color: white;
    text-shadow: 1px 2px 2px #333333);
}


/****images-section***/
.contact-btn {
    margin-top:30px;
}

#offer-btn{
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    background: transparent;
    padding: 6px 8px;
    margin-right: 2px;
    border: 1px solid;
    border-bottom-right-radius: 15px;
    background-color: #0B7778;
}

    #offer-btn:hover{
        box-shadow: 1px 2px 3px white;
        border: none;
    }

    #contact-btn{
        text-decoration: none;
        color: #ffffff;
        font-weight: 400;
        font-size: 16px;
        background:transparent;
        padding: 6px 8px;
        margin-left: 2px;
        border: 1px solid;
        border-bottom-left-radius: 15px;
        background-color: #0B7778;   
    }

    #contact-btn:hover{
        box-shadow: 1px 2px 3px #ffffff;
        border:none;
    }
    .offer-div input[type="submit"]
    {
    width:205px;
    height:45px;
    text-align:center;
    font-size:17px;
    margin-top: 22px;
    margin-bottom: 8px;
    font-family: sans-serif;
    font-weight: bold;
    background: #0B7778, #E1DEDE;
    background-color: #0B7778;
    box-shadow: #E1DEDE;
    border-color: #0B7778  #E1DEDE;
    border: 1px solid;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    position: relative;
    text-shadow:rgba(0,0,0,.5);
    }
    .content{
    width: 100%;
    height: auto;
    align-items: center;
    }
 
  .setting-section{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
  }
  .section-1 i{       
        width: 100px;
        height:80px;
        font-size: 60px;
        color: #0B7778;
        padding-left: 50px;
        margin-top: 10px;
  }
  .section-2 i{       
    width: 100px;
    height:80px;
    font-size: 60px;
    color: #0B7778;
    padding-left: 50px;
    margin-top: 10px;
}
.setting-section p{
    text-align: center;
    width: 500px;
    font-size: 19px;
}
.setting-section-2{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
  }
  .setting-1 i{       
        width: 100px;
        height:80px;
        font-size: 60px;
        color: #0B7778;
        padding-left: 50px;
        margin-top: 10px;
  }
  .setting-2 i{       
    width: 100px;
    height:80px;
    font-size: 60px;
    color: #0B7778;
    padding-left: 50px;
    margin-top: 10px;
}
.setting-section-2 p{
    text-align: center;
    width: 500px;
    font-size: 19px;

    
   }
   .wrapper{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;  
    margin-top: 30px;
   }
   .content-2{
       margin-top: 50px;
       text-align: center;
   }
   .content-2 p{ 
    font-size: 19px;
    font-family:serif;
    margin-left: 100px;
   } 
   .content-2 a{
       font-size: 19px;
   }
   #pic-img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background:#333333 ;
}

#Name{
    font-size: 16px;
    font-weight: 200px;
    font-family: serif;
    color: #1b1b1b;   
}
.testimony-1,
.testimony-2,
.testimony-3{
    background-color:#0a0b16;
    color: #ffffff;
    width: 350px;
    border-radius: 10%;
    height: 370px;
    font-size: 15px;
    text-align: center;

}

.container{  
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 70px;
}
.icon i{
    width: 100px;
    height:80px;
    font-size: 30px;
    padding-left: 30px;
}
.container-2{
    background-color: #0a0b16;
    text-align: center;
    width: 50%;
    margin-left: 400px;
    border-radius:10px;
     /*transform: translate(-50%, -50%);*/
    height: 250px;
    color: #ffffff;
}

.container-2  #email
{
 width:65%;
}
.container-2 #get-started
{
 margin-left:2%;
 width:25%;
 font-size:16px;
 border-radius:24px;

}
.container-2 input[type="submit"]
{
margin-left:2%;
 width:25%;
 font-size:16px;
 border-radius:24px;
 height:45px;
 text-align:center;
 margin-top: 22px;
 margin-bottom: 8px;
 font-family: sans-serif;
 font-weight: bold;
 background: #0B7778, #E1DEDE;
 background-color: #0B7778;
 box-shadow: #E1DEDE;
 border-color: #0B7778  #E1DEDE;
 border: 1px solid;
 color: #fff;
 cursor: pointer;
 display: inline-block;
 position: relative;
 text-shadow:rgba(0,0,0,.5);
}

.container-2 input[type="text"]
{
 width:100%;
 height:50px;
 border-radius:16px;
 padding-left:8px;
 font-size:13px;
 border:1px solid #BDBDBD;
 margin-top: 15px;
}
#footer{
    height: 350px;
   background-color: #0B7778;
}


#footer-top{
    width: 1000px;
    height: 300px;
    margin: auto;
}

.footer-info{
    width:220px;
    height: 300px;
    margin: 0 15px;
    float: left;
}

.footer-info h2{
    margin: 0px;
    color: /*#fefe01*/rgb(250, 245, 245);
    font-size: 20px;
    border-bottom: 2px solid;
}
.footer-info p{
    color: #ffffff;
    text-align:justify;
}
.footer-info a{
    color:#fcfc28;
    text-decoration: none;
}
.footer-info a:hover{
    color: #333333;
    text-decoration: underline;
}
.footer-info li{
color: #ffffff;
line-height: 30px ;
}
.social {
    height: 56px;
    margin: 15px 0px;
}
.social-icon {
    width: 10px;
    height: 30px;
    float:left;
    margin-right: 10px;
    font-size: 40px;
    color: white;
}
#footer-bottom{
    width: 1000px;
    height: 50px;
    margin: auto;
}

#footer-bottom p{
    margin: 0;
    text-align: center;
    line-height: 50px;
    color: rgb(196, 192, 192);
}
#footer-bottom a{
    color: white;
    text-decoration: none;
}
#footer-bottom a:hover{
    color: #333333;
    text-decoration: underline;
}
.container {
    max-width: 1335px;
    margin: 0 auto;
}
